/src/main/webapp/VAADIN/gwt-unitCache/
/src/main/webapp/VAADIN/themes/valo/

/src/test/resources/*.properties

# IDE
out/
Thumbs.db
.DS_Store
.gradle
build/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
*.cache
.designer
*.log
*.snappy
*.lck

# Build dir
/out/
/build/
/target/
/tests/

# Libs
/lib/*.jar


